// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.control-label{
	color: white;
}

.thumbnail{
	color: white;
	background-color: #006600;
	border: 2px solid white;
	border-radius: 10px;
	padding: 20px;
	.caption{
		color: white;
		.btn-default{
			color: #000;
		}
	}
	
}

#pin_category_id{
	color: black;
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
  background-color: green;
}

.pagination > li > a,
.pagination > li > span {
    color: green; // use your own color here
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: green;
    border-color: green;
}